.CountryInfo {
    border: 1px solid #282c34;
    height: 90vh;
    margin-top: 20px;
    width: 60%;
    border-left-color: transparent;
    align-items: center;
    display: flex;
    flex-flow: column wrap;
}